ul {
   list-style-type: none;
   margin: 0; 
   padding: 0;
   overflow: hidden;
   background-color: black;
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
  Background-color: black;
}

main {
       max-width: 800px;
       margin-left: auto;
       margin-right: auto;
       Background-color: grey;
}

body {
    display: block;
    margin: 8px;
    Background-color: grey;
}
